@charset "UTF-8";
/*CSS Document*/

/*Side Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 14%;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: purple;
  padding: 9px 14px;
  text-decoration: none;
}

li a.active {
  background-color: #0d0d0d;
  color: purple;
}

li a:hover:not(.active) {
  background-color: #0d0d0d;
  color: #e60000;
}

/*body styles*/
body {
	margin: 0;
	background-image: url(images/D3oy3if.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}

/*Main body*/
main {
	margin-right: 12px;
	padding: 1px;
	background-color: transparent;
}

.box1 {
	height: 338px;
	background-color: black;
	opacity: 80%;
}

h1 {
	color: purple;
	font-size: 55px;
	padding-top: 120px;
	padding-left: 300px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.box2 {
	width: 100%;
}

.box3 h3 {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: purple;
}

.box4 {
	background-color: black;
	opacity: 70%;
}

.box4 p {
	text-align: center;
	padding: 8px;
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: purple;
}

table.contact {
	margin: auto;
	width: 770px;
	border-collapse: collapse;
	border: 1px solid #fff;
	border-style: hidden;
}

table.contact tbody tr {
	padding: 8px;
	background-color: black;
	opacity: 80%;
	font-size: large;
}

table.contact tbody tr#AIM {
	width: 40%;
}

table.contact tbody tr#AIM, table.contact tbody tr#MSN, table.contact tbody tr#Talk, table.contact tbody tr#Yahoo, table.contact tbody tr#Blackberry table.contact tbody tr#osgrid {
	width: 20%;
}

table.contact tr, table.contact td {
	padding: 3px;
	border-width: 1px;
	border-style: hidden;
	border-color: #4B0DA3, #2C95BB;
}

table.contact td {
	text-align: left;
	font-weight: normal;
	color: purple;
}

table.contact a:link {
	color: purple;
	text-decoration: none;
}

table.contact a:visited {
	color: deeppink;
	text-decoration: none;
}

table.contact a:hover {
	color: red;
	text-decoration: none;
	background-color: black;
}

table.contact a:active {
	color: purple;
	text-decoration: none;
}

footer {
	background-color: black;
}

footer p {
	color: purple;
	font-size: 14px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

footer a {
	color: purple;
	background-color: transparent;
	position: relative;
	margin: 0;
	padding: 0;
	float: right;
	display: inline-block;
	margin-top: -30px;
}

footer img {
	width: 70%;
}
