@import url(//fonts.googleapis.com/css?family=Open+Sans);
#shoutboxEmailAdmin, #shoutboxPasswordAdmin, #shoutboxLoginAdminBtn, #shoutboxForgottenEmail, #sendMyPasswordBtn {
    border: 1px solid #333;
    padding: 2px;
    width: calc(100% - 30px);
    margin: 10px;	
}
.configPanel label {
	margin-left:5px;
	margin-top:20px;
}
#shoutboxForgottenBtn {
	cursor:pointer;
	transition-duration:0.5s;
}
#shoutboxForgottenBtn:hover  {
	color:blue;
	transition-duration:0.5s;
}
.shoutboxChangeUsernameBtn {
	float:right;
	border:1px solid #666;
	font-size:0.8em;
	padding:2px;
	cursor:pointer;
}
#shoutboxChangeOldPassword, #shoutboxChangeNewPassword {
    border: 1px solid #333;
    padding: 2px;
    width: calc(100% - 26px);
    margin: 5px;	
}
#shoutboxSaveBtn, #shoutboxSaveConfigBtn {
	float:right;
	cursor:pointer;
	border: 1px solid #333;
	margin-right:15px;
}
.shoutboxChangeUsernameBtn:hover {

}
 #shoutboxLoginAdminBtn, #sendMyPasswordBtn {
	 cursor:pointer;
 }
  #shoutboxLoginAdminBtn:hover, #sendMyPasswordBtn:hover {
	  background-color: #888;
  }
.adShoutBox {
	font-size:0.6em;
	float:right;
}
.adminCog {
	z-index: 3;
    position: absolute;
    right: 11px;
    top: 8px;	
}
.adminCog i {
	cursor:pointer;
}
.error {
    text-align: center;
    color: red;
	font-weight:bold;
    clear: both;
}
.shoutBoxContainer {
	background-image: url(https://www.shoutbox.com/chat/bg/black.jpg);
	color: white;
	position:relative;
	width:100%;
	height:245px;
	border:1px solid  #CCC;
	padding:5px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	border-radius:3px;
	
}
.adminShoutBoxInput {
	background-color:red;
}
.shoutBoxHeader {
	border:1px solid #666;
	border-radius:2px;
	padding:2px;
	background-color:#222;
	cursor:pointer;
	z-index:1;
	position:absolute;
	left:5px;
	right:5px;
	box-shadow: 2px 2px 3px 0px #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
.shoutServerText {
	padding: 4px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 5px;
	background-color: #C2E99E;
	opacity: 0.7;
}
.shoutboxBanBtn {
	font-size:0.8em;
	float:right;
	cursor:pointer;
	display:none;
	background-color:red;
	border:1px solid #000;
	margin:1px;
	padding:1px;
	
}
.shoutboxDelBtn {
	font-size:0.8em;
	float:right;
	cursor:pointer;
	display:none;
	border:1px solid #000;
	margin:1px;
	padding:1px;
}

.shoutDate {
	font-size:0.9em;
}
.shoutBoxAvatar {
	width:16px;
	height:16px;
	margin-right: 5px;
	border-radius: 20px;
}
#shoutBoxUserList {
	overflow:hidden;
	max-height:120px;
	overflow-y:scroll;
	display:none;
}
.shoutBoxUserItem {
	padding:2px;
}
.shoutBoxUserItem:hover {
	background-color:#DDD;
}
div.shoutText {
    font-size: 0.9em;
    border-bottom: 1px solid #696969;
    border-radius: 3px;
    padding: 1px;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
div.shoutText:hover {
	background-color:#EEE;
}
div.shoutText.shoutboxAdmin:hover button.shoutboxDelBtn, div.shoutText.shoutboxAdmin:hover button.shoutboxBanBtn {
    display: block;
}


#shoutBoxHeaderText {
	display:inline-block;
	
}
.shoutChat {
	position:absolute;
	left:5px;
	right:5px;
	top:35px;
	bottom:45px;
	overflow-y : scroll;
	overflow-x : hidden;
}
.shoutInputRed {
	background-color:#F7CFD0;

}

.shoutInput {
	position:absolute;
	bottom:00px;
	left:5px;
	right:5px;
	border-top:1px solid #CCC;
	padding-top: 4px;
	padding-bottom: 4px;
}

:focus {
	outline:none;
}

.shoutInput input {
width: calc(100% - 1px);
    color: black;
    border-radius: 2px;
    border: none;
	box-sizing: border-box;
    padding-left: 10px;
}
.shoutUserText {
	font-weight:bold;
	font-size:0.8em;
}
#shoutboxAdminImage, #shoutboxAdminLoginBtn {
    float:right;
    margin-top: 2px;
}
.centered {
    text-align: center;
}
::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
}
::-webkit-scrollbar-track
{
  background: rgba(150, 150, 150, 0.1);
  border-radius:20px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(150, 150, 150, 0.3);
  border-radius:20px;
}

.privateChat {
	width:250px;
	height:250px;
	background-color:red;
	position: absolute;
	bottom: 0;
	right: 0;
}

.configPanel {
    padding-top: 30px;
    z-index: 1;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background-color: #fff;
}
@media (max-width: 480px) {
    #formRegister button.btn {
        width:100%;
    }
}