@charset "UTF-8";
/* CSS Document */
*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image:linear-gradient(rgba(0,0,0,5), rgba(0,0,0,0)),url(engelbestijl001.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: purple;
	text-decoration: none;
	padding: 5px 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 12px;
}

.main-nav li.active a
{
	border: 1px dashed #670000;
}

.main-nav li a:hover
{
	border: 1px dashed #670000;
}

.logo img
{
	width: 100px;
	height: auto;
	float: left;
}

body
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.row
{
	max-width: 1200px;
	margin: auto;
}

.engel
{
	position: absolute;
	width: 1200px;
	margin-left: 0;
	margin-top: 0;
}

h1
{
	color: purple;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 10px;
}

table {
	background-color: black;
	opacity: 0.7;
	width: 80%;
	height: 60%;
	position: absolute;
	top: 160px;
	left: 130px;
}

caption
{
	color: purple;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}

p
{
	color: purple;
	font-size: 14px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.footer{
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: black;
			color: purple;
			text-align: center;
		}

#topbtn
{
	display: none;
	position: fixed;
	bottom: 20px;
	left: 30px;
	z-index: 99;
	border: dashed;
	outline: none;
	background-color: transparent;
	color: purple;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 12px;
}

#topbtn:hover
{
	background-color: black;
}