@charset "UTF-8";
/*CSS Document*/

/*Side Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: purple;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: red;
  color: purple;
}

li a:hover:not(.active) {
  background-color: darkgray;
  color: purple;
}

/*body styles*/
body {
	margin: 0;
	background-image: url(images/D3oy3if.jpg)
}

/*Main body*/
main {
	margin-right: 12px;
	padding: 1px;
	background-color: transparent;
}

.box1 {
	height: 338px;
	background-color: black;
	opacity: 80%;
}

h1 {
	color: purple;
	font-size: 55px;
	padding-top: 120px;
	padding-left: 60px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

.box2 img {
	width: 33%;
}

.box2 {
	width: 100%;
}

.box2 h2 {
	color: purple;
	font-size: 23px;
	width: 100%;
	padding-left: 22px;
	font-family: butcherman, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

.box3 {
	background-color: black;
	opacity: 80%;
	width: 100%;
	padding-left: 20px;
}

.box3 h3 {
	color: purple;
	font-size: 23px;
	width: 100%;
	padding-left: 22px;
	font-family: "neuton-cursive", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
