@charset "UTF-8";
/* CSS Document */
.album {
	align-content: center;
	margin-left: 20%;
	background-color: black;
	opacity: 70%;
}

h3 {
	color: purple;
	text-align: center;
}

.album-thumbs {
	align-content: center;
}

.album-thumbs img {
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
	align-content: center;
}

.album-thumbs:hover {
	border: 4px solid #00ccff;
	cursor: pointer;
}

.album-prev img {
	border: 4px solid #444;
	padding: 1px;
	width: 500px;
	align-content: center;
}